#container2{
  top: 200px;
  left: 200px;
}
#container3{
  top: 300px;
  left: 400px;
}
.conector{
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
}
#container-plumb{
  position: relative;
}

.window {
  background-color: #EEEEEF;
  border: 1px solid #346789;
  border-radius: 0.5em;
  box-shadow: 2px 2px 19px #AAAAAA;
  color: black;
  height: auto;
  position: absolute;
  width: auto;
  cursor: pointer;
  left: 200px;
  padding: 5px;
  max-width: 15em;
  text-align: center;
  min-width: 5em;
  min-height: 5em;
}
.delete{
  height: 14px;
  width: 14px;
  background:red;
  position: absolute;
  right: 0;
}
.edit{
  background-color: green;
}
.rhomboid {
  background-color: darkblue;
  color: white;
  padding: 0 20px;
  clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
}
.connect {
    font-size:10px;
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
}